{% extends "layout.html" %}

{% block title %}
    SELL
{% endblock %}

{% block main %}
    Sell Page
    <form action="/sell" method="POST">
        <select name="symbol">
            <option disabled selected>Symbol</option>
            {% for symbol in user_stocks %}
            <option value="{{symbol["stock"]}}">{{ symbol["stock"] }}</option>
            {% endfor %}
        </select>
        <input autocomplete="off"  name="shares" placeholder="amount" type="text">

        <button class="btn btn-primary" type="submit">GO!</button>
    </form>
{% endblock %}